html,body{
    background-image: linear-gradient(to bottom, #7DB9DE 0, #2EA9DF 100%);
    background-repeat: repeat-x;
    background-size: cover;
    height: 100%;
}

.col-sm-6 col-md-3{
    height: 500px;
}

#center{
    width: 80%;
    
}

img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}