<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
</head>
<body>
<div id="login">
    <h1>Login</h1>
    <form method="post">
        <input type="text" placeholder="用户名" name="u"></input>
        <input type="password" placeholder="密码" name="p"></input>
        <button class="but" type="submit" name="login">登录</button>
    </form>
    <br/>
    <a href="../register">
        <button class="but" type="submit" name="register">注册</button>
    </a>
</div>
</body>
</html>