<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>个人主页</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-brand">{{.name}}</span>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            {{range .show}}
            <li class="nav-item"><a href={{.}} class="nav-link">测试</a></li>
            {{end}}
        </ul>
    </div>
</nav>
<br>
<div class="text-center" id="main-show">
    <h1>居中显示测试</h1>
    <div class="container">
        <div class="row">
            {{range .image}}
            <div class="col-md-4">
                <br/>
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="{{.Url}}">
                    <div class="card-body">
                        <h4>{{.Name}}</h4>
                    </div>
                </div>
                <br/>
            </div>
            {{end}}
            <!-- 说明：每row行共12列，分个3div，每个div平占4列，即3个*4列=12列 -->
        </div>
    </div>
</div>


<script src="../static/libs/jquery-3.5.0/jquery-3.5.0.min.js"></script>
<script src="../static/js/bootstrap.js"></script>

</body>
</html>